<EditForm Model="this" OnValidSubmit="Encrypt">
    <AsyncFieldset>
        <div class="mb-3">
            <label class="form-label">Algoritmo</label>
            <AsyncSelect Items="Algorithms" class="form-select" @bind-Value="Algorithm" OperationsFilter="@nameof(RefreshAlgorithms)" />
        </div>
        <div class="mb-3">
            <label class="form-label">Datos en plano</label>
            <textarea class="form-control" placeholder="Introduce el valor a firmar" @bind="Plain" required></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Datos cifrados</label>
            <textarea class="form-control" @bind="Cipher" readonly></textarea>
        </div>

        <div class="mb-3">
            <AsyncButton class="btn btn-primary" type="submit" Text="Cifrar" LoadingText="Cifrando..." OperationsFilter="@nameof(Encrypt)" />
        </div>
    </AsyncFieldset>
</EditForm>